#----- JavaNativeWrapper (jnw) ----


jnw.enable.system.out.logging=yes


#specifies the console window to be shown or hidden
jnw.enable.console=yes


#specifies the executable will run only in admin mode priviledge or not
jnw.run.with.admin.privilege=yes


#specifies the unique name for handling the service in service control manager
jnw.service.name=AbcdRunner


#specifies a friendly name for identifying the service in service control manager
jnw.service.name.display=Abcd Runner


#specifies the description/purpose of the service in service control manager
jnw.service.description=runner of the systems


#path to the root of java installation directory
java.home=D:\Programs\Java\jdk8u432-b06


#multiple arguments should be seperated by semi-colon(;)
#
# JVM Logging
#  -verbose:class
#  -verbose:gc
#  -verbose:jni 
#  You can combine these options if needed, but only one can follow -verbose at a time.
#  e.x. -verbose:jni;-verbose:class
#
java.vm.arguments=


#path to the java compiled binary .class file or .class file present in the same directory
java.class.file.path=


#path to the java compiled binary .jar file or .jar file present in the same directory
jar.file.path=D:/Karyasthal/git-repos/Java/Tools/MinimalTCPServer/binary/MinimalTCPServer.jar


#class name of the main method 
main.class=com.ankurmaurya.tool.tcp.server.minimal.MinimalTCPServer


#multiple arguments should be seperated by white space
main.method.arguments=

